.canvas {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  container-type: size;
}

.canvasContent {
  /*aspect-ratio: var(--aspect-ratio, 21 / 9);*/
  /*width: min(100cqw, calc(100cqh * var(--aspect-ratio, 21 / 9)));*/
  /*height: min(100cqh, calc(100cqw * calc(1 / var(--aspect-ratio, 21 / 9))));*/
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}