.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.timelineContainer {
  height: 50%;
  border-top: 1px solid black;
  margin-top: auto;
}

.ruler {
  height: 40px;
  border-bottom: 1px solid black;
  background: #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 10;

  .rulerHeader {
    background: #f0f0f0;
    border-right: 1px solid black;
  }

  .tickContainer {
    position: absolute;
    height: 100%;
    border-right: 1px solid black;
    font-size: 10px;
  }

  .tickLabel {
    background: black;
    color: white;
    padding: 0 4px 1px;
    width: max-content;
  }
}

.headersPlaceholder {
  border-right: 1px solid black;
  background: #f0f0f0;
}

.footer {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: #f0f0f0;
  flex-shrink: 0;
}

.widgetContainer {
  border: 1px solid black;
  background: white;
  border-radius: 4px;
  padding: 2px;
  height: 24px;
  flex: 1;
}