.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.timelineContainer {
  height: 50%;
  border-top: 1px solid black;
  margin-top: auto;
}

.ruler {
  height: 40px;
  border-bottom: 1px solid black;
  background: #f0f0f0;

  .rulerHeader {
    background: #f0f0f0;
    border-right: 1px solid black;
  }

  .tickContainer {
    position: absolute;
    height: 100%;
    border-right: 1px solid black;
    font-size: 10px;
  }

  .tickLabel {
    background: black;
    color: white;
    padding: 0 4px 1px;
    width: max-content;
  }
}