.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 100;
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: var(--color-text-secondary);
  box-shadow: 0 0 2px var(--color-text-secondary);
}

