@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "tailwindcss";
@import "@ptl/timeline-react/index.css";

* {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

body {
  font-family: "Inter", sans-serif;
}