.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.timelineContainer {
  border-top: 1px solid black;
  margin-top: auto;
  flex-shrink: 0;
}

.ruler {
  height: 40px;
  border-bottom: 1px solid black;
  background: #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 10;

  .rulerHeader {
    background: #f0f0f0;
    border-right: 1px solid black;
  }

  .tickContainer {
    position: absolute;
    height: 100%;
    border-right: 1px solid black;
    font-size: 10px;
  }

  .tickLabel {
    background: black;
    color: white;
    padding: 0 4px 1px;
    width: max-content;
  }
}

.headersPlaceholder {
  border-right: 1px solid black;
  background: #f0f0f0;
}

.footer {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: #f0f0f0;
  flex-shrink: 0;
}

.widgetContainer {
  border: 1px solid black;
  background: white;
  border-radius: 4px;
  padding: 2px;
  height: 24px;
  flex: 1;
}

.render {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .view {
    width: 500px;
    min-height: 56px;
    background: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  }
}

.track {
}

.trackHeader {
  border-right: 1px solid black;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
}

.cue {
  height: calc(100% - 2px);
  top: 1px;
  border: 1px solid black;
  background: lightblue;
  border-radius: 4px;
  overflow: hidden;

  display: flex;
  align-items: center;

  .text {
    padding: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
  }
}

.cueActive {
  background: deepskyblue;
}