.root {
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: auto;
  isolation: isolate;
}

.bar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  z-index: 10;
}

.head {
  position: absolute;
  top: 0;
  z-index: 20;
}

.handle {
  z-index: 30;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  margin-left: -4px;
  cursor: ew-resize;
}